@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

html{
    font-family: 'Heebo', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerGeral{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.containerGeral h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.comandos{
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.comandos #data {
    width: 100%;
    height: 60px;
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.comandos #btnIniciar,#btnParar {
    flex: 1;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
}

#btnIniciar {
    background-color: #48ff008e;
}

#btnParar {
    background-color: #ff0000bb;
}

.erroData, .sucessoData{
    max-width: 360px;
    margin: 10px auto;
    padding: 0 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background-color: #ff0000ef;
    opacity: 0;
}

.sucessoData{
        background-color: #168312ef;
}

.animacao{
    animation: mostrarMsgErro .5s normal;
    animation-iteration-count: 5;
}

@keyframes mostrarMsgErro{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: .5;
    }
}

.countdown{
    display: flex;
}

.countdown .flexItem{
    flex: 1;
    font-size: 2.25rem;
    margin: 50px 20px;
    text-align: center;
}


@media only screen and (max-width:850px){

    .countdown .flexItem{
    font-size: 1.25rem;
    margin: 25px 10px;
    }
}

@media only screen and (max-width:500px){
 
    .comandos #data {
        width: 100%;
        height: 60px;
        font-size: 1rem;
        text-align: initial;
    }

    .comandos #btnIniciar,#btnParar {
        font-size: 1rem;
    }

    .countdown .flexItem{
        font-size: .8rem;
        margin: 10px;
    }
}